/*COMMON*/
body {
	font-family: "Inter", Arial, sans-serif;
}
ul {
	list-style-type: none;
}
a,
a:hover {
	text-decoration: none;
}
/*HEADER*/

/*Menu*/
nav.top-nav .logo {
	max-width: 200px;
	margin-right: 20px;
}
nav.top-nav {
	padding: 20px 0;
}
nav.top-nav ul li {
	display: inline-block;
}
nav .menu li,
nav .burger i {
	line-height: 40px;
	margin-left: 5px;
}
nav .menu li a {
	color: #031b4f;
	font-size: 14px;
	font-weight: 500;
}
nav .menu li a:hover {
	color: #2786fd;
}
nav .burger i {
	font-size: 20px;
	color: #2786fd;
}
nav .menu li i {
	vertical-align: middle;
}
nav .menu .sign_up {
	background-color: transparent;
	border: 1px solid #2786fd;
	color: #2786fd;
}
