/*COMMON*/
body {
	font-family: "Inter", Arial, sans-serif;
}
ul {
	list-style-type: none;
}
a,
a:hover {
	text-decoration: none;
}

/*HEADER*/

/*Menu*/
nav.top-nav .logo {
	max-width: 200px;
	margin-right: 20px;
}
nav.top-nav {
	padding: 20px 0;
}
nav.top-nav ul li {
	display: inline-block;
}
nav .menu li,
nav .burger i {
	line-height: 40px;
	margin-left: 10px;
}
nav .menu li a {
	color: #031b4f;
	font-size: 14px;
	font-weight: 500;
}
nav .menu li a:hover {
	color: #2786fd;
}
nav .burger i {
	font-size: 20px;
	color: #2786fd;
}
nav .menu li i {
	vertical-align: middle;
}
nav .menu .sign_up {
	background-color: transparent;
	border: 1px solid #2786fd;
	color: #2786fd;
}

/*Jumbotron*/
.my_jumbotron {
	background-image: url("../img/ms-jumbo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	padding: 40px 0;
}
.my_jumbotron .teaser h1 {
	font-weight: 700;
	font-size: 50px;
}
.my_jumbotron .teaser p {
	font-weight: 300;
	font-size: 20px;
	color: #bbcdff;
}
.my_jumbotron .card {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 20px 4px rgba(54, 53, 53, 0.5);
	color: #031b4f;
	padding: 30px;
}
.my_jumbotron .card h3 {
	color: #2786fd;
}
.my_jumbotron .card h2,
.my_jumbotron .card h3 {
	font-weight: 600;
	font-size: 30px;
}
.my_jumbotron .card .btn_light-blue {
	background-color: #006aff;
	color: white;
}
.my_jumbotron .card .btn_light-blue:hover {
	background-color: #1633ff;
}
.my_jumbotron .card .google_sign-up .btn_google {
	position: relative;
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
	font-weight: 600;
}
.my_jumbotron .card .term_condition {
	font-weight: 300;
	font-size: 13px;
}
.my_jumbotron .card .google_sign-up img {
	position: absolute;
	max-width: 30px;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
